/nbproject
/node_modules
/public/hot
/public/storage
/public/uploads
/storage/*.key
/vendor
/.idea
.env
.env.backup
.phpunit.result.cache
.editorconfig
composer.lock
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

